body {
    background-color: #ffffff;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'VT323', monospace;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    font-family: 'VT323', monospace;
}

td {
    width: 10%;
    text-align: center;
    font-size: 25px;
}

#liste {
    text-align: center;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: hsl(352, 100%, 60%);
}

.image {
    height: 15%;
    width: 15%;
    margin: 0.5%;
}

.image:hover {
    box-shadow: 0px 0px 15px grey;
    height: 16%;
    width: 16%;
    margin: 0%;
}

.pli {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: 'VT323', monospace;
}

.active,
.pli:hover {
    background-color: #ccc;
}

.pli-txt {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.pli:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}


/* pas d'impression */

@media print {
    .image {
        display: none;
    }
}


/* scrollbar */

body::-webkit-scrollbar {
    width: 0.25rem;
    height: 20%;
}

body::-webkit-scrollbar-track {
    background: #83838a;
}

body::-webkit-scrollbar-thumb {
    background: hsl(352, 100%, 60%);
}