body {
    background-color: rgb(197, 77, 77);
}

h1 {
    text-align: center;
    font-size: 50px;
}

table,
td,
th {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /*border: 1px solid black;
    border-collapse: collapse;*/
    text-align: center;
    /*border-spacing: 100px;*/
}

#liste {
    width: 100%;
    text-align: center;
}

.ligne {
    width: 100%;
}

.image {
    height: 20%;
    width: 20%;
}
/* responsif ?
@media only screen and (max-width : 600px) {
    .image {
        height: 200px;
        width: 200px;
    }
}
*/

/* pas d'impression */
@media print {
    .image {
        display: none;
    }
}